@import "config";

@include media-md {
  .todo-list, .form-control {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  .form-input {
    width: 70% !important;
  }
}

@include media-lg {
  .todo-list, .form-control {
    padding-left: 12%;
    padding-right: 12%;
  }
  .form-input {
    width: 80% !important;
  }
}

@include media-xl {
  .todo-list, .form-control {
    padding-left: 16%;
    padding-right: 16%;
  }
  .form-input {
    width: 85% !important;
  }
}
