@import "./../config";

.TodoItem {
  background: $primary-color;
  margin: 2rem 2rem;
  padding: 0 0.25rem;
  cursor: pointer;
  border-radius: 0.225rem;
  -moz-box-shadow: 1px 6px 10px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 6px 10px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 6px 10px 4px rgba(0, 0, 0, 0.3);

  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    padding: 0.5rem 1rem;
  }

  &__text {
    width: 60%;
    padding: 0.5rem;
  }

  p {
    font-size: 0.75rem;
    padding: 0.5rem;
    width: 30%;
    text-align: center;
  }

  &__delete {
    color: $text-color-secondary;
    font-weight: 800;
    width: 10%;
    padding: 0.5rem;
  }
}

.delete__transition-up__top {
  margin: -2.75rem -100% 0 100% !important;
  padding: 0;
  font-size: 0;
  opacity: 0 !important;
  @include transition-ease;
}

.delete__transition-up__stack {
  margin: -4.75rem -100% 0 100% !important;
  font-size: 0;
  opacity: 0 !important;
  @include transition-ease;
}

.added__transition-up__start {
  margin: 50% 50% 0 50%;
  height: 0;
  opacity: 0;
}

.added__transition-up__finished {
  margin: 2rem 2rem;
  height: auto;
  opacity: 1;
  @include transition-ease;
}