@import "./../config, ./../responsive";

.TodoList {
  padding-bottom: 1.5rem;
  padding-top: 6rem;
  height: calc(100vh - 19rem);
  overflow-y: scroll;
}

::-webkit-scrollbar-track {
  padding: 2px 0;
  background: linear-gradient(
    to bottom,
    rgba($secondary-color, 1),
    rgba($primary-color, 1),
    rgba($secondary-color, 1)
  );
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgba($secondary-color, 1),
    rgba($primary-color, 1),
    rgba($secondary-color, 1)
  );
  border-left: 2px solid $text-color-secondary;
}